* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1.6;
  padding-top: 80px;
}

/* Header Styles */
header {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 30px;
}

nav a {
  color: #292929;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #2196f3;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/bg-welcome.webp");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
}

.hero h1 {
  font-size: 72px;
  margin-bottom: 1rem;
  line-height: normal;
  max-width: 90%;
}

.hero p {
  font-size: 24px;
  margin-bottom: 2rem;
  max-width: 65%;
  text-align: justify;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #2196f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: #1976d2;
}

/* Responsive Design for Hero Section */
@media (max-width: 768px) {
  .hero {
    padding: 60px 20px;
    text-align: center;
  }

  .hero h1 {
    font-size: 36px;
    max-width: 100%;
  }

  .hero p {
    font-size: 18px;
    max-width: 100%;
  }

  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* About Section */
#about {
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-content img {
  flex: 1;
  max-width: 576px;
  height: 576px;
  object-fit: cover;
  border-radius: 10px;
}

.about-content div {
  flex: 1;
}

.about-content h2 {
  font-size: 72px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.2;
}

.about-content p {
  font-size: 18px;
  color: #292929;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}

/* Responsive Design cho About Us */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-content h2 {
    font-size: 36px;
  }

  .about-content p {
    font-size: 16px;
    max-width: 100%;
  }

  .about-content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

/* Mission Section */
#mission {
  padding: 80px 20px;
  background-color: #292929;
  color: white;
  text-align: center;
  position: relative;
}

#mission h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

#mission p {
  font-size: 18px;
  max-width: 600px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 1.6;
}

/* Container for the section */
#tech-cards .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Card style */
#tech-cards .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

#tech-cards .card:hover {
  transform: translateY(-10px);
}

/* Card image */
#tech-cards .card img {
  width: 100%;
  height: 396px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  border-radius: 10px;
}

/* Card title */
#tech-cards .card h3 {
  font-size: 28px;
  margin: 20px 0;
  font-weight: bold;
  color: #292929;
}

/* Card text */
#tech-cards .card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  #tech-cards .container {
    grid-template-columns: 1fr;
  }
}

/* Client section */
#clients {
  background-color: #f9f9f9;
  padding: 80px 20px;
}

.client-section {
  display: flex;
  align-items: center;
  gap: 60px;
}

.client-text {
  flex: 1;
  max-width: 50%;
}

.client-text h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.client-text blockquote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
}

.client-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #292929;
  text-align: justify;
}

.client-image {
  flex: 1;
}

.client-image img {
  max-width: 576px;
  height: 576px;
  border-radius: 10px;
  object-fit: cover;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .client-section {
    flex-direction: column;
    text-align: center;
  }

  .client-text {
    max-width: 100%;
  }

  .client-image img {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
}

/* Section Contact Us */
#contact-us {
  background-color: #111;
  padding: 60px 20px;
  color: #fff;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.contact-form {
  flex: 1;
}

.contact-info {
  flex: 1;
  padding: 20px;
}

.contact-info h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 18px;
  line-height: 1.6;
}

.contact-info a {
  color: #fff;
  text-decoration: underline;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #292929;
  color: #fff;
}

.contact-form textarea {
  resize: none;
}

.recaptcha-text {
  font-size: 12px;
  color: #888;
  margin-bottom: 20px;
}

.submit-btn {
  background-color: #fff;
  color: #111;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #ddd;
}

/* Responsive Design cho Form */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contact-form,
  .contact-info {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    font-size: 16px;
  }

  .submit-btn {
    width: 100%;
    font-size: 16px;
  }
}

/* Footer Section */
#main-footer {
  background-color: #111;
  padding: 40px 20px;
  color: #fff;
  font-size: 16px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-logo img {
  height: 50px;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-links ul li {
  display: inline;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-contact p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.footer-contact a {
  color: #fff;
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo img {
    margin-bottom: 20px;
  }
}
